// Button color variables
$btn-blue: #51ddfc;
$btn-red: #e4757a;
$btn-purple: #927bc1;
$btn-green: #63cc82;
$btn-orange: #fd7856;

// Other color variables
$white: #fff;
$light-gray: #ccc;
$gray: #777;
$dark-blue: #4da2bb;
$light-blue: #7ee6fd;
$light-green: #88d9a0;
$pink: #ec9fa3;
$light-orange: #fd9f85;
$light-purple: #deb2ee;
$light-teal: #80e8d1;
$teal: #58e1c1;

// Media query variable
$breakpoint-mobile: 768px;